{% load tailwind_tags %}
{% load django_htmx %}
{% load socialaccount %}
{% load static %}
<!DOCTYPE html>
<html lang="it" data-theme="nord"> <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>

    {% tailwind_css %}
    {% htmx_script %}
    <script src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js" defer></script>
    {% block extrascript %}{% endblock %}
    {% block extra_css %}{% endblock %}
</head>
<body class="min-h-screen flex flex-col bg-base-100">

    <header class="navbar bg-base-200 shadow-md px-4 md:px-8">
        <div class="flex-1">
            <a href="/" class="btn btn-ghost normal-case text-xl font-bold text-primary">
                Progetto Matematica
            </a>
        </div>
        <div class="flex-none">
        {% if user.is_authenticated %}
            <div class="dropdown dropdown-end">
              <div tabindex="0" role="button" class="btn btn-circle avatar m-1">
                  <div class="w-10 rounded-full">
                      <img src="{{ user.socialaccount_set.all.0.get_avatar_url }}"
                           alt="Profilo di {{ user.username }}">
                  </div>
              </div>
              <ul tabindex="-1" class="dropdown-content menu bg-base-100 rounded-box z-1 w-auto p-2 shadow-sm">
                <li><a>List</a></li>
                <li>
                    <form method="post" action="{% url 'account_logout' %}">
                        {% csrf_token %}
                        <button type="submit" class="text-error">Logout</button>
                    </form>
                    </li>
              </ul>
            </div>

        {% else %}
          <a href="{% url 'account_login' %}"><button class="btn">Login</button></a>
          <a href="{% url 'account_signup' %}"><button class="btn">Sign-up</button></a>
        {% endif %}
        </div>

        <div class="flex-none">

        </div>
    </header>

    <main class="flex flex-col gap-2 grow items-center justify-center px-4 py-4">
        {% block content %}
        {% endblock %}
    </main>

    <footer class="footer footer-center p-4 bg-base-300 text-base-content border-t border-base-content/10">
        <aside>
            <p>Copyright © {% now "Y" %} - Sviluppato con Django, Tailwind e daisyUI</p>
        </aside>
    </footer>

    {% block extra_js %}{% endblock %}
</body>
</html>